.icon-social-media {
  width: 20px;
  height: 20px;
}

/* section TEAM END */

/* section OUR CLIENTS */

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: space-between;
}
.clients__link {
  height: 92px;
  width: 170px;
  border-radius: 4px;
  border: 1px solid rgba(175, 177, 184, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(175, 177, 184, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-clients {
  width: 106px;
  height: 60px;
}
.clients__link:hover,
.clients__link:focus {
  fill: rgba(33, 150, 243, 1);
  border: 1px solid rgba(33, 150, 243, 1);
}
/* section OUR CLIENTS END */

/* ============================== */
/* section FOOTER */
.footer {
  background-color: var(--blackBackground-color);
}
.footer .container {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer__logo {
  color: var(--white-color);
  margin-bottom: 20px;
}
.address__localization {
  line-height: 1.717em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
}

.address-footer-list-item-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.717em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link {
  font-weight: 500;
  line-height: 1.717em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

/* footer-contact END */

.media__title {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  line-height: 1.143em;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  font-size: 14px;
}

.footer__social-media {
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}

.footer__icon-social-media {
  fill: rgba(255, 255, 255, 1);
}

.social-media-link-footer:hover,
.social-media-link-footer:focus {
  background-color: rgba(33, 150, 243, 1);
}
/* footer-media END */

/* FOOTER-NEWSLETTER */

.newsletter__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143em;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
}
.newsletter__input {
  width: 358px;
  height: 50px;
  background-color: var(--blackBackground-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  padding-left: 16px;
  color: var(--white-color);
}
.newsletter__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__box-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.newsletter__button {
  cursor: pointer;
  background-color: var(--secondary-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
}

.icon-send {
  width: 24px;
  height: 24px;
}
/* section FOOTER END*/

/* =============PORTFOLIO============ */

/* filtr content */
.filtr {
  margin-bottom: 50px;
}
.filtr__list {
  display: flex;
  justify-content: center;
}
.filtr__item {
  margin-right: 8px;
}
.filtr__btn {
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  font-family: var(--Roboto-font);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr__btn:hover,
.filtr__btn:focus {
  background-color: var(--secondary-color);
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* filtr content END*/

/* portfolio content */
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 20px;
}
.portfolio__item {
  width: 370px;
  height: 404px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__box {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.555em;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  transform: translate(0, 100%);
  cursor: pointer;
  text-align: left;
  padding: 49px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__img {
  width: 370px;
  height: 294px;
}
.portfolio__item:hover .portfolio__overlay,
.portfolio__item:focus .portfolio__overlay {
  transform: translate(0, 0);
}

.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.portfolio__title {
  color: rgba(33, 33, 33, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio__text {
  padding: 24px 20px;
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.portfolio__description {
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.03em;
  color: #757575;
}
/* portfolio content END*/

/* <==========BACKDROP===========> */

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--white-color);
  border-radius: 4px;
  padding: 40px;
  animation: scale-window 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15em;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}
.modal__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
}
.icon-modal {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.modal__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}
.modal__box {
  position: relative;
  fill: rgba(33, 33, 33, 1);
}

.modal__input:focus ~ .icon-modal {
  fill: var(--secondary-color);
}
.modal__input:focus {
  border-color: var(--secondary-color);
}

.modal__comments {
  padding: 12px 16px;
  min-height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  margin-bottom: 20px;
}
.modal__comments:focus {
  border: 1px solid var(--secondary-color);
}

.modal__comments:not(:placeholder-shown) {
  border: 1px solid var(--secondary-color);
}

.modal-policy__label {
  font-size: 14px;
  line-height: 1.714px;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
  margin-bottom: 30px;
}
.modal-policy__label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(33, 33, 33, 1);
  border-radius: 4px;
  margin-right: 7px;
  margin-bottom: -3px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy__input:checked + .modal-policy__label::before {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  background-image: url(../images/svg/check-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.visually-hiden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.policy__link {
  color: var(--secondary-color);
}
.modal__button-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.modal__button {
  cursor: pointer;
  background-color: var(--secondary-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.close__btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
.icon-close-btn {
  width: 18px;
  height: 18px;
}

@keyframes scale-window {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
