:root {
  --main-color: #212121;
  --secondary-color: #2196f3;
  --color1: #212121;
  --color2: #2196f3;
  --color4: #afb1b8;
  --blackBackground-color: #2f303a;
  --white-color: #fff;
  --Roboto-font: 'Roboto', sans-serif;
  --Raleway-font: 'Raleway', sans-serif;
}
body {
  font-family: var(--Roboto-font);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

a {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* section HEADER */
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  min-height: 80px;
}
.header__logo {
  margin-right: 93px;
}
.logo {
  font-family: var(--Raleway-font);
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.192em;
  letter-spacing: 0.03em;
}
.logo__link {
  color: var(--secondary-color);
}
.logo__title {
  color: var(--main-color);
}
/* .navigation {
  width: 254px;
  margin-right: 371px;
} */

.navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 254px;
}

.navigation-list-item {
  position: relative;
}

.navigation-list-item-link,
.address-list-item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143em;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
  color: var(--secondary-color);
}

.navigation-list-item-link::after {
  display: block;
  content: '';
  height: 3px;
  width: 0%;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -32px;
  border-radius: 2px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-item-link:hover::after {
  width: 100%;
}
.active-link::after {
  display: block;
  content: '';
  height: 3px;
  width: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -32px;
  border-radius: 2px;
}
.icon-envelope {
  width: 16px;
  height: 10px;
  margin-right: 10px;
  fill: currentColor;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.address {
  width: 321px;
}
.address-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.address-list-item-link {
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item-link:hover,
.address-list-item-link:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

/* section HEADER END */

/* section GENERAL */

.general {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background/general.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  background-position: center;
}
.general-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 692px;
  margin: 0 auto 30px;
}
.general-button {
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  display: block;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 42px;
  margin: auto auto;
}
.general-button:hover,
.general-button:focus {
  cursor: pointer;
}
/* section GENERAL end*/

/* section DESCRIPTION */
.description > .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-box :not(last-child) {
  margin-right: 30px;
}
.description-icon {
  height: 120px;
  width: 270px;
  border-radius: 4px;
  background: rgba(245, 244, 250, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 70px;
  height: 70px;
}
.description-box-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description-box-text {
  font-size: 14px;
  line-height: 1.714em;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
}
/* section DESCRIPTION END*/

/* section WHAT WE DO */
.what-we-do > .container {
  padding-bottom: 94px;
}
.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.what-we-do-list {
  display: flex;
  justify-content: space-between;
}
.what-we-do-list-item {
  position: relative;
}
.what-we-do-img {
  width: 370px;
  height: 294px;
}
.what-we-do-list-description-bg {
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.what-we-do-descritpion {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143em;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
/* section WHAT WE DO END*/

/* section TEAM */
.team {
  background: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: rgba(255, 255, 255, 1);
  padding-bottom: 30px;
}
.team-img {
  width: 270px;
  height: 260px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188em;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 30px auto 0;
}

.team-position {
  font-size: 16px;
  line-height: 1.188em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 10px auto 0;
}
.social-media-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 32px 0;
}
.social-media-link {
  /* Ellipse */
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  justify-content: center;
  align-items: center;
  fill: rgba(175, 177, 184, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-media {
  width: 20px;
  height: 20px;
}
.social-media-link:hover,
.social-media-link:focus {
  fill: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
}

/* section TEAM END */

/* section OUR CLIENTS */

.our-clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-link {
  height: 92px;
  width: 170px;
  border-radius: 4px;
  border: 1px solid rgba(175, 177, 184, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(175, 177, 184, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-clients {
  width: 106px;
  height: 60px;
}
.clients-link:hover,
.clients-link:focus {
  fill: rgba(33, 150, 243, 1);
  border: 1px solid rgba(33, 150, 243, 1);
}
/* section OUR CLIENTS END */

/* ============================== */
/* section FOOTER */
.footer {
  background-color: var(--blackBackground-color);
}
.footer > .container {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer__logo {
  color: var(--white-color);
  margin-bottom: 20px;
}
.address-footer-list-item-localization-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.717em;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer-list-item-localization-link:hover,
.address-footer-list-item-localization-link:focus {
  color: var(--secondary-color);
}

.address-footer-list-item-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.717em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer-list-item-contacts-link:hover,
.address-footer-list-item-contacts-link:focus {
  color: var(--secondary-color);
}
/* footer-contact END */

.footer-media-title {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  line-height: 1.143em;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  font-size: 14px;
}
.social-media-list-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-media-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-media-footer {
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 1);
}
.social-media-link-footer:hover,
.social-media-link-footer:focus {
  background-color: rgba(33, 150, 243, 1);
}
/* footer-media END */

/* FOOTER-NEWSLETTER */

.footer-newsletter-label-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143em;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
}
.footer-newsletter-input {
  width: 358px;
  height: 50px;
  background-color: var(--blackBackground-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  padding-left: 16px;
  color: var(--white-color);
}
.footer-newsletter-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-newsletter-box-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.footer-newsletter-button {
  cursor: pointer;
  background-color: var(--secondary-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
}

.icon-send {
  width: 24px;
  height: 24px;
}
/* section FOOTER END*/

/* =============PORTFOLIO============ */

/* filtr content */
.portfolio-filtr-content-list {
  display: flex;
  padding-left: 295px;
}
.portfolio-filtr-content-list-item {
  margin-right: 8px;
}
.btn-filtr-content {
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  font-family: var(--Roboto-font);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-filtr-content:hover,
.btn-filtr-content:focus {
  background-color: var(--secondary-color);
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-filtr-content {
  margin-bottom: 50px;
}
/* filtr content END*/

/* portfolio content */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 20px;
}

.portfolio-list-item-title {
  color: rgba(33, 33, 33, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-list-item {
  width: 370px;
  height: 404px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img-box {
  position: relative;
  overflow: hidden;
}
.portfolio-box-overlay {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.555em;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  transform: translate(0, 100%);
  cursor: pointer;
  text-align: left;
  padding: 49px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item-link-img {
  width: 370px;
  height: 294px;
}
.portfolio-list-item:hover .portfolio-box-overlay,
.portfolio-list-item:focus .portfolio-box-overlay {
  transform: translate(0, 0);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-list-item-text {
  padding: 24px 20px;
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.portfolio-list-item-description {
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.03em;
  color: #757575;
}
/* portfolio content END*/

/* <==========BACKDROP===========> */

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--white-color);
  border-radius: 4px;
  padding: 40px;
  animation: scale-window 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15em;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}
.modal-input-label-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
}
.icon-modal {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.modal-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}
.modal-label-box {
  position: relative;
  fill: rgba(33, 33, 33, 1);
}

.modal-input:focus ~ .icon-modal {
  fill: var(--secondary-color);
}
.modal-input:focus {
  border-color: var(--secondary-color);
}

.modal-comments {
  padding: 12px 16px;
  min-height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  margin-bottom: 20px;
}
.modal-comments:focus {
  border: 1px solid var(--secondary-color);
}

.modal-comments:not(:placeholder-shown) {
  border: 1px solid var(--secondary-color);
}

.modal-form-policy-label {
  font-size: 14px;
  line-height: 1.714px;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
  margin-bottom: 30px;
}
.modal-form-policy-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(33, 33, 33, 1);
  border-radius: 4px;
  margin-right: 7px;
  margin-bottom: -3px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy-input:checked + .modal-form-policy-label::before {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  background-image: url(../images/svg/check-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.visually-hiden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.policy-link {
  color: var(--secondary-color);
}
.modal-button-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.modal-button {
  cursor: pointer;
  background-color: var(--secondary-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
.icon-close-btn {
  width: 18px;
  height: 18px;
}

@keyframes scale-window {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
