.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: space-between;
}
.clients__link {
  height: 92px;
  width: 170px;
  border-radius: 4px;
  border: 1px solid rgba(175, 177, 184, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(175, 177, 184, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  fill: rgba(33, 150, 243, 1);
  border: 1px solid rgba(33, 150, 243, 1);
}
