.description .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description__box :not(last-child) {
  margin-right: 30px;
}
.description__icon {
  height: 120px;
  width: 270px;
  border-radius: 4px;
  background: rgba(245, 244, 250, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.description__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description__text {
  font-size: 14px;
  line-height: 1.714em;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
}
