.media {
  margin-bottom: 60px;
}
.media__title {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  line-height: 1.143em;
  letter-spacing: 0.03em;
  font-size: 14px;
}
