.address {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    color: rgba(117, 117, 117, 1);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143em;
    letter-spacing: 0.02em;
  }
  &__link:hover,
  &__link:focus {
    color: var(--secondary-color);
    fill: var(--secondary-color);
  }
  &__localization {
    line-height: 1.717em;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 1);
  }
}

.address__icon {
  margin-right: 10px;
  fill: currentColor;
}
