@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-envelope {
    width: 14px;
    height: 10px;
  }
}
.icon-envelope {
  width: 16px;
  height: 12px;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
}
.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 70px;
  height: 70px;
}
.icon-social-media {
  width: 20px;
  height: 20px;
}
.icon-clients {
  width: 106px;
  height: 60px;
}
.icon-send {
  width: 24px;
  height: 24px;
}
.icon-modal {
  height: $icon-modal;
  width: $icon-modal;
  position: absolute;
  top: 12px;
  left: 12px;
}
.icon-close-btn {
  width: $icon-modal;
  height: $icon-modal;
}
.icon-menu-mobile {
  width: 24px;
  height: 16px;
}
.icon-close-btn-mobile {
  width: 40px;
  height: 40px;
}
