.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  justify-content: center;
  align-items: center;
  fill: rgba(175, 177, 184, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover,
.social-media__link:focus {
  fill: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
}
