:root {
  --main-color: #212121;
  --secondary-color: #2196f3;
  --color1: #212121;
  --color2: #2196f3;
  --color4: #afb1b8;
  --blackBackground-color: #2f303a;
  --white-color: #fff;
  --Roboto-font: 'Roboto', sans-serif;
  --Raleway-font: 'Raleway', sans-serif;
}
body {
  font-family: var(--Roboto-font);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
