// MOBILE*************
@media screen and (max-width: 768px) {
  .container {
    min-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .section {
    padding-top: 60px;
  }
  .container-mobile-menu {
    padding: 48px 40px;
  }
}
// TABLET*************
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    min-width: 768px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
  .section {
    padding-top: 60px;
  }
}
// DESKTOP***********
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
  }
  .section {
    padding-top: 94px;
  }
}
