.container {
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 60px;
}
.container-mobile-menu {
  padding: 48px 40px;
}
// MOBILE*************
@media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
}
// TABLET*************
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
// DESKTOP***********
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section {
    padding-top: 94px;
  }
}
